version: "3.9"
services:
<% services.forEach(function(service){ -%>
  <%=service.name-%>:<%if (service.image) { %>
    image: <%=service.image-%><% } else { -%>  
    build: <%=service.name-%>/Dockerfile
    <% } %>  
   <%if (service.ports) { -%>
    ports:
    <% service.ports.forEach(function(port){ -%>
      - "<%=port.host-%>:<%=port.container-%>"
        <% }); -%>
    <% } -%>  
<% }); %>